<div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">New Password</h4>
    <button type="button" style="outline: none;" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body mx-3">
    <!-- Default form login -->
    <form 
    [ngFormOptions]="{updateOn: 'change'}"

    >
        <div class="md-form mb-5">
        <!-- New Password -->
        <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
        <input [formControl] = "fstPwd" mdbInput mdbValidate type="password" name="fstPwd"  class="form-control" placeholder="New Password">
        <mdb-error *ngIf="((fstPwd.invalid)) && (fstPwd.dirty || fstPwd.touched)">
            <span *ngIf="fstPwd.errors.required">Password is required</span>
        </mdb-error>
        </div>
        <!-- New Password Confirm -->
        <div class="md-form mb-5">
        <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
        <input mdbInput [formControl] = "sndPwd" mdbValidate type="password"  name="sndPwd" id="defaultForm-pass" class="form-control" placeholder="Confirm your password" appPasswordMatch>
        <mdb-error *ngIf="((sndPwd.invalid) && (sndPwd.dirty || sndPwd.touched))">
            <span *ngIf="sndPwd.errors.required">Password confirmation is required</span>
            <span *ngIf="!sndPwd.errors.required && sndPwd.errors.passwordMatchError">Password does not match</span>
        </mdb-error>
        </div>        
    </form>
<!-- Default form login -->
</div>

<div class="modal-footer d-flex justify-content-center">
    <button (click)="submitPassword()"mdbBtn color="default" class="waves-light" mdbWavesEffect>SUBMIT</button>
  </div>