<div class="modal-header">
    <p class="heading lead">Register</p>

    <button type="button" style="outline: none;" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="white-text">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="text-center">
      <mdb-icon fas icon="check" size="4x" class="mb-3 animate__animated animate__rotateIn"></mdb-icon>
      <h4>You are now registered, please login.</h4>
    </div>
  </div>

