.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



  input[type=text] {
    font-size: 35px;
}



.test div{
    display: inline-block
  }

.search-header{
  position: absolute;
  background-color: white;
  width: 100%;
}

 .header-wrapper{
   position: relative;
 }