<!--main header-->
<div class="sticky-top" style="z-index: 99;">  

    <nav class="navbar navbar-expand grey lighten-4 py-4">

        <!--Sidebar navigation-->
        <div class="float-left">
            <a (click)="openMenuCallBack()" class="button-collapse"><mdb-icon fas icon="bars" size ="lg"></mdb-icon></a>
        </div>
        <!--/. Sidebar navigation -->

        <!--Logo-->
        <ul class="nav navbar-nav abs-center-x mt-3">
            <li class="nav-item"> 
                <a class="nav-link abs-center" href="#">
                    <img src="../../../assets/logo_transparent.png" style="width: 150px; height: 150px;"alt="">
                </a>
            </li>
        </ul>
        <!--/.Logo-->
        
        <!--Icons-->
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light"
                (click)="test.toggle()">
                    <i class="fas fa-search fa-lg mr-3" ></i>
                </a>
            </li>

            <li class="nav-item">
                <a (click) = "openModal()" class="nav-link waves-effect waves-light">
                    <i class="fas fa-user fa-lg mr-3"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-effect waves-light"
                (click) = "openCartCallBack()"
                >
                    <i class="fas fa-shopping-cart fa-lg mr-3" ></i>
                </a>
            </li>
        </ul> 
        <!--/.Icons-->
        

    </nav>
    <!--search bar-->
    <div class="search-header" mdbCollapse #test="bs-collapse">
        <form class="input-group md-form form-sm active-cyan-2">
            
            <input class="form-control form-control-lg ml-3" type="text" placeholder="SEARCH" style="width: 95%;"  aria-label="Search"
            mdbInput>
            
            <div class="input-group-append mt-3 mr-sm-3 mr-lg-5">
                <mdb-icon fas icon="search" aria-hidden="true" size="2x" ></mdb-icon>
            </div>
        

        </form>
    </div>

    <!--/.search bar-->
</div>
<!--/.main header-->