<div class="container" style="min-height: 100vh;">
    <h4>ORDER DETAIL</h4>
    <hr>
    <ul class="list-group list-group-flush">
        <li *ngFor="let item of orderInfo" class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="item.image" alt="thumbnail" class="img-thumbnail"
                    style="width: 200px; height: auto;"
                    >
                </div>

                <div class="col-md-8">
                    <h5>{{item.title}}</h5>
                    <p>$ {{item.price}} &times; {{item.quantity}}</p>
                    <p> Subtotal: {{item.price * item.quantity}}</p>
                </div>

            </div>
        </li>

        <hr>
       
    </ul>

    <div class="row">
        <div class="col-md-6">
            <h5>SHIP TO</h5>
            <p>
                {{shippingAddr?.fname}} {{shippingAddr?.lname}}<br>
                {{shippingAddr?.line1}}<br>
                {{shippingAddr?.line2}}<br>
                {{shippingAddr?.city}}<br>
                {{shippingAddr?.state}}<br>
                {{shippingAddr?.pincode}}<br>
                {{shippingAddr?.country}}<br>
                {{shippingAddr?.phone}}<br>

            </p>

        </div>

        <div  class="col-md-6">
            Total: {{orderTotal(orderInfo)}}
        </div>
    </div>
</div>
