<!--Thumbnail-->
<div>
  <mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
      <div class="carousel-caption">
        <button mdbBtn type="button" color="primary" mdbWavesEffect>Shop Now</button>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
</div>

<!--/.Thumbnail-->

<!--Product Area Title-->
<h3 class="home-title mt-md-5 mt-sm-3 mb-md-5">{{title}}</h3>


<hr>
<!--/.Product Area Title-->


<!--Product Area-->
<div class="container-fluid" style="position: relative; z-index: auto;"> 
  <div class="row">
    <div class="col-md-3 my-5 wow animate__fadeIn" 
    data-wow-delay="0.5s"
    *ngFor="let product of products">
      <mdb-card>
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img [src]="product.image"></mdb-card-img>
          <a href="/product/{{product.id}}">
            <div class="mask"></div>
          </a>
          </div>
        
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{product.name}}</h4>
            </mdb-card-title>
            <hr>
          <mdb-card-text>${{product.price}}</mdb-card-text>
          </mdb-card-body>
      </mdb-card>
    
    </div>
    
  </div>
</div>
<!--/.Product Area-->