/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; max-width: 100%;}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 85px;
}

.custom-title {
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1c1b1b;
    transition: color 0.2s ease-in-out;
    text-transform: uppercase;
}
