<footer class="page-footer font-small blue pt-4 mt-auto">

    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <div class="col-md-6 mt-md-2 mt-3 mb-1">            
            
                <a class="fb-ic">
                    <mdb-icon fab icon="facebook" size="2x" class="mt-1 mb-1 white-text ml-md-4 ml-2 mr-2"></mdb-icon>
                  </a>

                <a class="tw-ic">
                    <mdb-icon fab icon="twitter" size="2x" class="white-text ml-2 mr-2"></mdb-icon>
                </a>

                <a class="ins-ic">
                    <mdb-icon fab icon="instagram" size="2x" class="white-text ml-2 mr-2"></mdb-icon>
                </a>

                <a class="pin-ic">
                    <mdb-icon fab icon="pinterest" size="2x" class="white-text ml-2 mr-2 "></mdb-icon>
                </a>

                <a class="li-ic">
                    <mdb-icon fab icon="linkedin" size="2x" class="white-text ml-2 mr-2"></mdb-icon>
                </a>

            </div>


            <div class="col-md-3 mb-md-0 mb-3 ml-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#">Link 1</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Link 1</a>
                    </li>

                    <li>
                        <a href="#">Link 2</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mt-md-2 mt-3 mb-2">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <a class="amz-ic">
                    <mdb-icon fab icon="cc-amazon-pay" size="2x" class="white-text ml-1 mr-1"></mdb-icon>
                </a>
    
                <a class="ap-ic">
                    <mdb-icon fab icon="cc-apple-pay" size="2x" class="white-text ml-1 mr-1"></mdb-icon>
                </a>
    
                <a class="pp-ic">
                    <mdb-icon fab icon="cc-paypal" size="2x" class="white-text ml-1 mr-1 "></mdb-icon>
                </a>
    
                <a class="cp-ic">
                    <mdb-icon fas icon="credit-card" size="2x" class="white-text ml-1 mr-1 "></mdb-icon>
                </a>

                <a class="vs-ic">
                    <mdb-icon fab icon="cc-visa" size="2x" class="white-text ml-1 mr-1 "></mdb-icon>
                </a>

                <a class="mc-ic">
                    <mdb-icon fab icon="cc-mastercard" size="2x" class="white-text ml-1 mr-1"></mdb-icon>
                </a>

            </div>

        </div>

    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Amber Technology</a>
      </div>
      <!-- Copyright -->
      
    </footer>
