<!--Side Menu content-->
<div>
    <mdb-icon fas icon="times" size="lg" (click)="closeMenuCallBack()"></mdb-icon>
    
        <div ng-sidebar-content class="mr-md-3 ml-md-3">

            <h4 class="text-muted mt-5">
                <a href="/" class="text-reset">HOME</a>
            </h4>
            <hr>

            <h4 class="text-muted mt-5">
                <a href="/products/ALL" class="text-reset">ALL PRODUCTS</a>
            </h4>
            <hr>

            <div *ngFor="let c of categories">
                    <h4 class="text-muted mt-5">
                    <a href="/products/{{c.title}}" class="text-reset">{{c.title}}</a>
                    </h4>
                    <hr>

            </div>
        </div>
</div>
<!--/.Side Menu content-->
